/* Add styles specific to the App component here */

/* Example style */
/* .App-header {
  background-color: rgba(40, 44, 52, 0.8);
  padding: 10px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
} */
